@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226 232 240);
}

::-webkit-scrollbar-track {
    background-color: rgb(226 232 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226 232 240);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(203 213 225);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226 232 240);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(195, 204, 216);
}